/jaxx-maven-plugin-2.5.7-javadoc.jar
/jaxx-maven-plugin-2.5.7-sources.jar
/jaxx-runtime-2.5.7-sources.jar
/jaxx-runtime-2.5.7-javadoc.jar
/jaxx-demo-2.5.7-javadoc.jar
/jaxx-compiler-2.5.7-sources.jar
/jaxx-compiler-2.5.7-javadoc.jar
/jaxx-demo-2.5.7-sources.jar
