/LICENSE-APACHE-2.0.txt
/start.ini
/notice.html
/webapps
/contexts
/logs
/about.html
/start.jar
/contexts-available
/etc
/javadoc
/overlays
/VERSION.txt
/resources
/LICENSE-ECLIPSE-1.0.html
/README.txt
/bin
